.text-primary {
    color: #3e668f;
}

.text-secondary {
    color: #ffa630
}

.text-success {
    color: #3772ff
}

.tcblue {
    color: #3e668f;
}

.tcwarn {
    color: #FFA630;
}

.tcgreen {
    color: #346f36cc;
}

.tcred {
    color: #cc4637d9;
}

.tccyan {
    color: #5b9cd5;
}

.tcpink {
    color: #d0475799;
}

.tcyellow {
    color: #fcdb72;
}

.tcorange {
    color: #f5a673;
}

.tcpurple {
    color: #b783af;
}
